
/* CSS Tree menu styles */
.tree ol
{
	padding: 0 0 0 30px;
	width: 1200px;
}
	.tree li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
	.tree li.file
	{
		margin-left: -1px !important;
	}
		.tree li.file a
		{
			background: url(../img/dot.png) 2px 2px no-repeat;
			color: #000;
			padding-left: 24px;
			text-decoration: none;
			display: block;
		}

	.tree li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}

	.tree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	.tree li label
	{
		background: url(../img/dot.png) 15px 1px no-repeat;
		cursor: pointer;
		display: block;
		padding-left: 37px;
		margin-bottom: 7px;
	}		
	.tree li label a
	{
		color: #000;
		text-decoration: none;
		
	}
	
	.tree li input + ol
	{
		background: url(../img/toggle-small-expand.png) 40px 0 no-repeat;
		margin: -1.6em 0 0 -44px; /* 15px */
		height: 1em;
	}
	.tree li input:checked + ol
	{
		background: url(../img/toggle-small.png) 40px 5px no-repeat;
		margin: -2em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		.tree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
		.tree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
